.landscapeFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.counter-container {
    background-color: blue;
}

.buttons {
    background-color: red;
    display: flex;
    height: 40px;
}

